<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Department.</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'><link rel="stylesheet" type="text/css" href="{{url_for('static',filename='ent_dpmt.css')}}"><link rel="stylesheet" type="text/css" href="{{url_for('static',filename='ent_appointment.css')}}">

</head>
<body>
<!-- partial:index.partial.html -->
<section class="main-header">
  <div class="overlay">
    <div class="container">
      <header>
        <div class="logo"><img src="https://images.vexels.com/media/users/3/142777/isolated/preview/84711206e52e0d4ff6c793cb476ea264-heartbeat-star-medical-logo-by-vexels.png" alt=""/><span>Book Appointment</span></div>
        <div class="nav"><a class="active" href="/patient_home">Home</a><a class="active" href="/logout">Logout</a></div>
        <div class="menu"><i class="fa fa-bars"></i></div>
      </header>
      <div class="content">
        <div class="container">
          <div class="pricing-table">
          <ul class="col-price">
            <li class="header">Pediatrician</li>
            <li class="price"><span>Dr.ANUSH</span></li>
            <li>Spc. Child Mentalhealth</li>
            <li>anush999@gmail.com</li>
            <li>Available : SUNDAY</li>
            <li>Slot : 4-7(PM)</li>
            <li class="get-it"><form method="POST"><button onclick="myFunction()" type="submit" id="button" name="button" value="anush">Book now</button></form></li>
            </ul>
            <ul class="col-price">
            <li class="header">Pediatrician</li>
              <li class="price"><span>Dr.SREELATA</span></li>
            <li>Spc. Counselling</li>
            <li>sreelatha999@gmail.com</li>
            <li>Available : WEDNESDAY</li>
            <li>Slot : 9-11(AM)</li>
            <li class="get-it"><form method="POST"><button onclick="myFunction()" type="submit" id="button" name="button" value="sreelata">Book now</button></form></li>
            </ul>
            <ul class="col-price">
            <li class="header">Pediatrician</li>
              <li class="price"><span>Dr.LATHA</span></li>
            <li>Spc. Child Behaviour</li>
            <li>latha999@gmail.com</li>
            <li>Available : THURSDAY</li>
            <li>Slot : 2-7(pm)</li>
            <li class="get-it"><form method="POST"><button onclick="myFunction()" type="submit" id="button" name="button" value="latha">Book now</button></form></li>
            </ul>
            <ul class="col-price">
            <li class="header">Pediatrician</li>
              <li class="price"><span>Dr.LEKA</span></li>
            <li>Spc. Counselling</li>
            <li>leka999@gmail.com</li>
            <li>Available : FRIDAY</li>
            <li>Slot : 9-11(AM)</li>
            <li class="get-it"><form method="POST"><button onclick="myFunction()" type="submit" id="button" name="button" value="leka">Book now</button></form></li>
            </ul>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
  

<section id="social-media">
  <div class="container">
    <div class="social-wrapper">
      
      <div class="slug"><span>Made with Love By HEAL</span><img src="https://images.vexels.com/media/users/3/142777/isolated/preview/84711206e52e0d4ff6c793cb476ea264-heartbeat-star-medical-logo-by-vexels.png" alt=""/></div>
    </div>
  </div>
</section>
<!-- partial -->
 
<script>
  function myFunction() {
    alert("Booking details submitted Successfully!");
  }
  </script>
</body>
</html>
