<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Department.</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='ent_dpmt.css')}}">

</head>
<body>
<!-- partial:index.partial.html -->
<section class="main-header">
  <div class="overlay">
    <div class="container">
      <header>
        <div class="logo"><img src="https://images.vexels.com/media/users/3/142777/isolated/preview/84711206e52e0d4ff6c793cb476ea264-heartbeat-star-medical-logo-by-vexels.png" alt=""/><span>General Physician</span></div>
        <div class="nav"><a class="active" href="/patient_home">Home</a><a class="active" href="/logout">Logout</a></div>
        <div class="menu"><i class="fa fa-bars"></i></div>
      </header>
      <div class="content">
        <div class="content-wrapper">
          <h2 class="blob">Get Answers to General questions by medical expert, quickly and free.</h2>
          <div class="button-wrapper">
            <div class="button ask">Ask your questions<span><i class="fa fa-arrow-down"></i></span></div>
            <!--<div class="button ask">Ask Your First Question</div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  
<section id="question">
  <div class="title">Ask your Medical Question</div>
  <div class="content">Ask your general medical problems.We provide a comprehensive medical care.We are there to manage common illnesses including rashes, common viruses and infections, coughs and colds, Infection, aches and pain, injuries and contusions, cholesterol, diabetes, muscle sprains and strains.</div>
  <div class="form">
    <form method="POST">
    <input type="email" id="phyemail" name="phyemail" placeholder="Enter Email" required/><br><br>
    <input type="text" id="phycomment" name="phycomment" placeholder="My stomach hurts bad"/><br><br><br><br><button><i class="fa fa-arrow-right"></i></button>
    </form>
  </div>
</section>

<section id="social-media">
  <div class="container">
    <div class="social-wrapper">
      
      <div class="slug"><span>Made with Love By HEAL</span><img src="https://images.vexels.com/media/users/3/142777/isolated/preview/84711206e52e0d4ff6c793cb476ea264-heartbeat-star-medical-logo-by-vexels.png" alt=""/></div>
    </div>
  </div>
</section>
<!-- partial -->
  
</body>
</html>
